@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Delius", cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h3 {
  font-size: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

h4 {
  font-size: 1.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  font-size: 1.25rem;
}

.container {
  padding: 96px 256px 96px 256px;

  @media (max-width: 1280px) {
    padding: 96px 30px 96px 30px;
  }
}

#header {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/header.png") no-repeat center center/cover;
  text-align: center;
}

#header .wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 30px 0 30px;
}

#header h1 {
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  animation: glowing-text 2.5s ease-in-out infinite;
}

@keyframes glowing-text {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  }
}

#about-me {
  background: radial-gradient(circle, #fff5f5 10%, transparent 11%),
    radial-gradient(circle at bottom left, #fff5f5 5%, transparent 6%),
    radial-gradient(circle at bottom right, #fff5f5 5%, transparent 6%),
    radial-gradient(circle at top left, #fff5f5 5%, transparent 6%),
    radial-gradient(circle at top right, #fff5f5 5%, transparent 6%);
  background-size: 3em 3em;
  background-color: #ffffff;
  /* Created from https://superdesigner.co/tools/css-backgrounds */
}

#about-me .wrapper,
#anime .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1280px) {
    flex-direction: column;
    text-align: center;
  }
}

#about-me .wrapper img,
#anime .wrapper img {
  width: 400px;
  margin-right: 64px;
  margin-left: 64px;

  @media (max-width: 1280px) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 32px;
  }
}

#anime {
  background: linear-gradient(-71deg, #f4f8ff 25%, transparent 26%, transparent 74%, #f4f8ff 75%);
  background-size: 3em 3em;
  background-color: #ffffff;
  /* Created from https://superdesigner.co/tools/css-backgrounds */
}

#same-taste {
  background: linear-gradient(270deg, #edffdc, #d8fdff);
  background-size: 400% 400%;

  -webkit-animation: lets-see 30s ease infinite;
  -moz-animation: lets-see 30s ease infinite;
  animation: lets-see 30s ease infinite;
}

@-webkit-keyframes lets-see {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes lets-see {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes lets-see {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Created from https://www.gradient-animator.com/ */

#same-taste .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.two-taste-boxes,
.three-enjoy-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 1280px) {
    flex-direction: column;
  }
}

.taste-box,
.enjoy-box {
  width: 512px;
  height: 512px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 16px;
  padding: 8px;
  color: white;

  @media (max-width: 1280px) {
    margin: 16px 0 16px 0;
  }

  @media (max-width: 768px) {
    max-width: 80vw;
    max-height: 80vw;
  }
}

.taste-box {
  justify-content: center;
}

.enjoy-box {
  transition: transform 0.25s ease-in-out;
  justify-content: end;
}

.mal {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/mal.png") no-repeat center center/cover;
  background-size: auto 100%;
  transition: background-size 0.25s ease-in-out;
}

.mal:hover,
.spotify:hover {
  background-size: auto 110%;
}

.spotify {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/spotify.png") no-repeat center center/cover;
  background-size: auto 100%;
  transition: background-size 0.25s ease-in-out;
}

.enjoy-box:hover {
  transform: translateY(-15px);
}

.choir {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("/images/backgrounds/choir.jpg") no-repeat center center/cover;
  background-size: auto 100%;
}

.soccer {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("/images/backgrounds/soccer.webp") no-repeat center center/cover;
  background-size: auto 100%;
}

.politics {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("/images/backgrounds/miku-for-president.jpg") no-repeat center center/cover;
  background-size: auto 100%;
}

#enjoy {
  background: linear-gradient(25deg, #ffffff 40%, transparent 41%, transparent 59%, #ffffff 60%),
    linear-gradient(
      90deg,
      transparent 45%,
      #f7f4ff 45%,
      #f7f4ff 55%,
      transparent 55%,
      transparent 20%,
      #f7f4ff 20%,
      #f7f4ff 30%,
      transparent 30%
    );
  background-size: 3em 3em;
  background-color: #ffffff;
}

#enjoy .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#enjoy .container {
  padding-left: 30px;
  padding-right: 30px;
}

.mal-button {
  background: #2e51a2;
}

.spotify-button {
  background: #1db954;
}

.steam-button {
  color: black !important;
  background: white;
}

.osu-button {
  background: #e6649f;
}

.mal-button:hover {
  background: #1e40a3;
}

.spotify-button:hover {
  background: #1a8c3e;
}

.steam-button:hover {
  background: #f2f2f2;
}

.osu-button:hover {
  background: #d6336c;
}

.two-taste-boxes .taste-box a,
#gaming a,
#osu a {
  font-size: 20px;
  font-family: "Delius", cursive;
  color: white;
  text-decoration: none;

  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
}

#what-else .wrapper {
  background: linear-gradient(
      45deg,
      #eeffef 0%,
      #eeffef 5%,
      transparent 5%,
      transparent 10%,
      #eeffef 10%,
      #eeffef 15%,
      transparent 15%,
      transparent 20%,
      #eeffef 20%,
      #eeffef 25%,
      transparent 25%,
      transparent 30%,
      #eeffef 30%,
      #eeffef 35%,
      transparent 35%,
      transparent 40%,
      #eeffef 40%,
      #eeffef 45%,
      transparent 45%,
      transparent 50%,
      #eeffef 50%,
      #eeffef 100%,
      transparent 55%,
      transparent 60%,
      #eeffef 60%,
      #eeffef 65%,
      transparent 65%,
      transparent 70%,
      #eeffef 70%,
      #eeffef 75%,
      transparent 70%,
      transparent 80%,
      #eeffef 80%,
      #eeffef 85%,
      transparent 85%,
      transparent 90%,
      #eeffef 90%,
      #eeffef 95%,
      transparent 95%
    ),
    linear-gradient(
      135deg,
      #eeffef 0%,
      #eeffef 5%,
      transparent 5%,
      transparent 10%,
      #eeffef 10%,
      #eeffef 15%,
      transparent 15%,
      transparent 20%,
      #eeffef 20%,
      #eeffef 25%,
      transparent 25%,
      transparent 30%,
      #eeffef 30%,
      #eeffef 35%,
      transparent 35%,
      transparent 40%,
      #eeffef 40%,
      #eeffef 45%,
      transparent 45%,
      transparent 50%,
      #eeffef 50%,
      #eeffef 55%,
      transparent 55%,
      transparent 60%,
      #eeffef 60%,
      #eeffef 65%,
      transparent 65%,
      transparent 70%,
      #eeffef 70%,
      #eeffef 75%,
      transparent 70%,
      transparent 80%,
      #eeffef 80%,
      #eeffef 85%,
      transparent 85%,
      transparent 90%,
      #eeffef 90%,
      #eeffef 95%,
      transparent 95%
    );
  background-size: 3em 3em;
  background-color: #ffffff;
  /* Created from https://superdesigner.co/tools/css-backgrounds */

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 196px;
  padding-bottom: 196px;

  @media (max-width: 1280px) {
    flex-direction: column;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.card {
  background-color: white;
  width: 512px;
  border-radius: 16px;
  border: 1px solid #868e96;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1280px) {
    margin-top: 64px;
  }

  @media (max-width: 768px) {
    max-width: 80vw;
  }
}

.card .content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .banner {
  width: 100%;
  border-radius: 16px 16px 0 0;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

.card .avatar {
  width: 25%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-top: -75px;

  @media (max-width: 512px) {
    width: 50%;
    margin-top: -100px;
  }
}

.card a {
  font-size: 20px;
  font-family: "Delius", cursive;
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  border: none;
  margin: 8px 0 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card a img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  margin-bottom: 1px;
}

.card .github {
  background-color: #010409;
}

.card .website {
  background-color: #228be6;
}

#transition-1 {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#transition-1 .wrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#transition-2 {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 43, 43, 0.75) 17%,
    rgba(92, 92, 92, 0.25) 66%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#transition-2 video {
  position: absolute;
  z-index: -1;
  height: 100vh;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: 75%;
}

#transition-2 .video-wrapper {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

#transition-2 .wrapper {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 128px;
  text-align: center;
}

#transition-3 {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#transition-3 .wrapper {
  text-align: center;
}

#gaming {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/gaming.jpg") no-repeat center center/cover;
}

#gaming iframe,
#osu iframe {
  max-height: 340px;
  max-width: 600px;
  width: 80vw;
  aspect-ratio: 16 / 9;
  margin-left: 64px;
}

#gaming iframe {
  margin-left: 64px;
  @media (max-width: 1280px) {
    margin-top: 64px;
  }
}

#osu iframe {
  margin-right: 64px;
}

#osu {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/osu.png") no-repeat center center/cover;
}

#cristiano {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/cristiano.jpg") no-repeat center center/cover;
}

#gaming .wrapper,
#osu .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 196px;
  padding-bottom: 196px;

  @media (max-width: 1280px) {
    flex-direction: column;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

#cristiano .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media (max-width: 1280px) {
    flex-direction: column;
    text-align: center;
  }
}

#gaming .content,
#osu .content,
#cristiano .content {
  max-width: 720px;
}

#cristiano .wrapper img {
  max-width: 600px;
}

#pre-end {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/footer.webp") no-repeat center center/cover;
  color: white;
}

#footer h4 {
  margin-bottom: 32px;
  text-align: center;
}

#footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 1280px) {
    align-items: center;
  }
}

#footer .links {
  display: flex;
  align-items: center;

  @media (max-width: 1280px) {
    flex-direction: column;
  }
}

#footer .links img {
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 50%;
  filter: invert(1);
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform 0.25s ease-in-out;
}

#footer .links img:hover {
  transform: scale(1.2);
}

#footer .links .connections {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1280px) {
    margin-top: 32px;
  }
}

#footer .links .connections * {
  margin: 0 8px 0 8px;
}

#deep-footer {
  background-color: #222;
  color: white;
  @media (max-width: 1280px) {
    text-align: center;
  }
}

#deep-footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 32px 256px 32px 256px;

  @media (max-width: 1280px) {
    padding: 32px 30px 32px 30px;
    flex-direction: column;
  }
}
