@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Delius", cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  font-size: 1.25rem;
}

.container {
  padding: 96px 256px 96px 256px;
}

#header {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/header.png") no-repeat center center/cover;
}

#header .wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#about-me .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me .wrapper img {
  width: 400px;
}

#same-taste {
  background: linear-gradient(270deg, #edffdc, #d8fdff);
  background-size: 400% 400%;

  -webkit-animation: lets-see 30s ease infinite;
  -moz-animation: lets-see 30s ease infinite;
  animation: lets-see 30s ease infinite;
}

@-webkit-keyframes lets-see {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes lets-see {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes lets-see {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#same-taste .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.two-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-boxes .box {
  width: 512px;
  height: 512px;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0 16px 0 16px;

  color: white;
}

.two-boxes .box a {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
}

.mal {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/mal.png") no-repeat center center/cover;
}

.spotify {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/spotify.png") no-repeat center center/cover;
}

.mal-button {
  background: #2e51a2;
}

.spotify-button {
  background: #1db954;
}

.mal-button:hover {
  background: #1e40a3;
}

.spotify-button:hover {
  background: #1a8c3e;
}

#same-taste .wrapper .two-boxes .box a {
  font-size: 20px;
  font-family: "Delius", cursive;
  color: white;
  text-decoration: none;
}

#what-else .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 196px;
  padding-bottom: 196px;
}

#what-else .wrapper .card {
  width: 512px;
  border-radius: 16px;
  border: 1px solid #868e96;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .banner {
  width: 100%;
  border-radius: 16px 16px 0 0;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

.card .avatar {
  width: 25%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-top: -75px;
}

.card a {
  font-size: 20px;
  font-family: "Delius", cursive;
  color: white;
  text-decoration: none;
  width: 75%;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
  margin: 8px 0 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card a img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  margin-bottom: 4px;
}

.card .github {
  background-color: #010409;
}

.card .website {
  background-color: #228be6;
}

#transition-1 {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#transition-1 .wrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#transition-2 {
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(43, 43, 43, 0.75) 17%,
      rgba(92, 92, 92, 0.25) 66%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("/images/backgrounds/transition-2.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#transition-2 .wrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 128px;
}

#gaming {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/gaming.jpg") no-repeat center center/cover;
}

#osu {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/osu.png") no-repeat center center/cover;
}

#gaming .wrapper,
#osu .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 196px;
  padding-bottom: 196px;
}

#gaming .content,
#osu .content {
  max-width: 720px;
}

#pre-end {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgrounds/footer.webp") no-repeat center center/cover;
  color: white;
}

#footer h4 {
  margin-bottom: 32px;
}

#footer .links {
  display: flex;
  align-items: center;
}

#footer .links img {
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 50%;
  filter: invert(1);
  background-color: rgba(255, 255, 255, 0.5);
}

#footer .links .connections {
  margin: 0 16px 0 16px;
}

#deep-footer {
  background-color: #222;
  color: white;
}

#deep-footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 32px 256px 32px 256px;
}
