#anime {
  background: linear-gradient(-71deg, #f9f9ff 25%, transparent 26%, transparent 74%, #f9f9ff 75%);
  background-size: 3em 3em;
  background-color: #ffffff;
  /* Created from https://superdesigner.co/tools/css-backgrounds */
}
